
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @using (Html.BeginForm())
    {
        <!-- content begin -->
        <div class="row my-4">
            <div class="col-md-4 offset-md-4 my-4">
                <form>

                    <div class="card card-default shadow">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3>
                                        <span class="fa fa-asterisk fa-2x"></span>
                                    </h3>
                                </div>
                                <div class="col-md-9 text-right">
                                    <h3>Şifremi Unuttum</h3>
                                    <small style="color:red">@ViewBag.MyError</small> <br />
                                    <small>Lütfen e-posta adresinizi yazınız.</small>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <input type="email" name="email" id="email" placeholder="e-posta" class="form-control">
                            </div>
                        </div>
                        <div class="card-footer text-muted text-right">
                            <button class="btn btn-success" type="submit">
                                <span class="fa fa-send mr-2"></span>Gönder
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <!-- content end -->
    }


</div>