@model ETicaretSitesi.Models.CodeFirstVT.Product

<div class="row my-2">
    <div class="col-md-12 text-right">
        <a href="~/Home/AddBasket/@Model.Id" id="modelBasketHref" class="btn btn-success">
            <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Sepete At
        </a>
    </div>
</div>