
@model List<ETicaretSitesi.Models.CodeFirstVT.Galeri>
@{
    Layout = null;
}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselId" data-slide-to="0" class="active"></li>
        <li data-target="#carouselId" data-slide-to="1"></li>
        <li data-target="#carouselId" data-slide-to="2"></li>
        <li data-target="#carouselId" data-slide-to="3"></li>
        <li data-target="#carouselId" data-slide-to="4"></li>
        <li data-target="#carouselId" data-slide-to="5"></li>
        <li data-target="#carouselId" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner">
        @{ int i = 0;}
        @foreach (var item in Model)
        {
            i++;
            var active = i == 1 ? "active" : "";
            <div class="carousel-item @active">
                <img src="@Url.Content(item.ResimUrl)"style="height:400px;width:1600px">
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
































